body{
    background: #fff;
    color: #1d2129;
    padding-top: 3.5rem;
}

.site-wrapper {
  background-color: inherit;
  padding-top: 3em;
}

.icon-script {
  fill: #fff;
}

.card-deck .card {
      background-color: inherit;
      border-color: #e9ebee;
}

p.card-text {
    color: #90949c;
    text-shadow: none;
}

.card-title {
    color: #3c5998;
}

h1.cover-heading {
    color: #3c5998;
}

.bg-dark {
    background-color: #3b5998 !important;
}

.row-lefty{
  text-align: left;
}

.btn-primary {
    color: #fff;
    background: #4267b2;
    border-color: #4267b2;
}

#codigo-de-conducta{
  padding-top: 2em;
  display: block;
  text-shadow: none;
}
